body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: white;
  font-family: "Trebuchet MS";
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
  min-height: 100vh;
}

.side-bar {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  background-color: rgb(233, 80, 80);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.library-container {
  background-color: yellow;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.collections-container {
  background-color: rgb(18, 209, 223);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.storage-container {
  background-color: rgb(233, 161, 5);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.setting-container {
  background-color: rgb(19, 216, 117);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#profile-img {
  width: 30%;
  margin: 10px;
}

.name {
  margin: 0 10px 0 0;
}

.email {
  margin: 10px;
}

.list-header {
  margin: 0;
  padding: 0;
}

.option-list {
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0;
}

/* photo */

.gallery {
  background-color: rgb(255, 213, 196);
  display: grid;
  grid-template-rows: 20vh 80vh;
  /* min-height: 100vh; */
  height: 100vh;
}

.photo-header-container {
  background-color: blue;
}

.photo-gallery-container {
  background-color: brown;
  display: grid;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.photo-list-container {
  background-color: burlywood;
  display: grid;
  justify-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.photo-list {
  /* remove bullet */
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 150px;
  width: 100%;
  overflow: visible;
  margin: 0;
  padding: 0;
}

.photo-container {
  min-width: 100px;
  max-width: 200px;
  min-height: 100px;
  max-height: 200px;
  margin: 30px;
  padding: 0;
}

.photo {
  width: 100%;
  height: 100%;
}
