body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* background-color: red; */
  font-family: "Trebuchet MS";
  /* background-image: url("./image/background.jpeg"); */

  /* https://colorhunt.co/palette/f3f1f5f0d9ffbfa2db7f7c82 (palette) */

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  min-height: 100vh;
}

.side-bar {
  background-color: #f3f1f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* opacity: 0.91; */
  padding-left: 16px;
  padding-right: 16px;
  min-height: 100%;
}

.top-side-bar {
  height: 60%;
}

.bottom-side-bar {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-container {
  /* background-color: #fffbfa; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  padding: 20px 0 20px 0;
}
.library-container {
  /* background-color: #fffbfa; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 10px 0 20px 0;
}

.collections-container {
  /* background-color: #fffbfa; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 0 0 0;
}

.storage-container {
  /* background-color: #fffbfa; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.setting-container {
  /* background-color: #fffbfa; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#profile-img {
  width: 20%;
  margin: 10px;
}

.name {
  margin: 0 10px 0 0;
  font-weight: bold;
  font-size: 22px;
}

.email {
  margin: 10px;
}

.menu-header {
  font-weight: bolder;
  margin: 0;
  padding: 12px;
}

.menu-line {
  padding: 12px;
  display: flex;
  align-items: center;
  border-radius: 16px;
}

.menu-line:hover {
  background-color: #bfa2db;
  color: white;
}

.menu-select {
  text-decoration: none;
  color: black;
}

.icon {
  margin-right: 8px;
  transform: translateY(-8%);
}

.header-icon-container {
  margin: 20px 20px 0 0;
}

.header-icon {
  padding: 12px;
  border-radius: 16px;
  color: white;
  background-color: #bfa2db;
}

.header-icon:hover {
  color: white;
  background-color: #b19bc7;
  cursor: pointer;
}

.option-list {
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0;
}

/* photo */

.gallery {
  background-color: rgb(255, 213, 196);
  display: grid;
  grid-template-rows: 20vh 80vh;
  /* min-height: 100vh; */
  height: 100vh;
}

.photo-header-container {
  background-color: #fffbfa;
  text-decoration: underline;
  text-decoration-color: #bfa2db;
}

.photo-header-header {
  display: flex;
  justify-content: space-between;
}

.photo-gallery-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.photo-list-container {
  background-color: #fffbfa;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.photo-list {
  /* remove bullet */
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* row-gap: 10px;
  column-gap: 150px; */
  width: 100%;
  overflow: visible;
  margin: 0;
  padding: 0;
}

.photo-container {
  /* min-width: 100px;
  max-width: 200px;
  min-height: 100px;
  max-height: 200px; */
  /* margin: 30px; */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 156px;
  height: 156px;
  filter: grayscale(100%);
}

.photo-header {
  font-size: 52px;
  font-weight: bolder;
  padding: 42px 0 0 52px;
  margin: 0;
}

.content-container {
  background-color: #fffbfa;
}
